@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.stroke-black {
  -webkit-text-stroke: 1px black;
}

.font-sofia {
  font-family: 'Sofia', cursive;
}

.active {
  text-shadow: 2px 2px 5px black;
}

.text-shadow {
  text-shadow: 2px 2px 5px black;
}

.nav_background {
  background: linear-gradient(
    0deg,
    rgba(144, 144, 144, 1) 15%,
    rgba(64, 28, 28, 1) 98%
  );
}

.targets_background {
  display: block;
  position: relative;
}

.targets_background::after {
  content: '';
  background: url(https://cdn.pixabay.com/photo/2014/04/08/23/31/grey-319745_960_720.jpg);
  background-size: cover;
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.target_description_background {
  background: url(https://cdn.pixabay.com/photo/2015/05/11/17/47/music-762842_960_720.jpg);
  background-size: cover;
}
